{% extends 'base.html' %}

{% block titulo%}Crear Cliente{%endblock%}

{% block contenido %}

    <h1>Crear cliente</h1>
    <form action=""    method="post">
        {% csrf_token %}
        <p>{{ form.as_p }}</p>
    
        <!-- DNI <input type="text" name="cedula o DNI">
        Nombre  <input type="text" name="nombre">
        Apellidos <input type="text" name="nombre">
        Nombre <input type="text" name="nombre">
        Nombre <input type="text" name="nombre">
        Nombre <input type="text" name="nombre">
        Nombre <input type="text" name="nombre">
        Nombre <input type="text" name="nombre"> -->
    
    <button type="submit-disable" class="btn btn-info">Enviar</button>

    </form>



{% endblock %}